
<div class="back">


  <div class="main-div">
  <mat-card class="card">
   
    <mat-card-title>Crear preferencia de Usuario</mat-card-title>
    <form [formGroup]="loginform">
      <div >
        <mat-form-field appearance="fill" class="fors">
          <mat-label>Select El equipo</mat-label>
          <mat-select [(ngModel)]="name" formControlName="team" >
            <mat-option *ngFor="let team of teams" [value]="team.name">
                 {{team.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
    
      </div>
    
    
    </form>
    <div>
      <mat-slider
      class="fors"
    color="warn"
    thumbLabel
    [displayWith]="formatLabel"
    (click)="new_rate(value)"
    [(ngModel)]="value"
    tickInterval="1000"
    step="0.1"
    min="0"
    max="5"
    aria-label="units"></mat-slider>
    
    </div>
    
    <button mat-raised-button  class="fors" (click)="Submit()" [disabled]="name==undefined">
     Submit
    </button>
  
    
  </mat-card>
</div>






<div >

  <mat-card class="card">
    <mat-card-title>Preferencias del Usuario</mat-card-title>
    <div *ngFor="let element of dataSource.data" class="array">
     

      <div class="cell">
       <p>{{element.name}} </p>
          
        <button mat-raised-button (click)="Delete(element.name,1)" color="warn"><mat-icon>delete</mat-icon></button>
      </div>
     
         
  
    </div>
  
  
  
  
  </mat-card>
 




</div>
    
<div class="second-div">
<mat-card class="card">
  
  <button mat-raised-button class="fors" (click)="Addrecommendation()" color="primary" [disabled]="dataSource.data.length==0">Hacer la Recomendacion</button>
  </mat-card>
</div>



<div >
    <mat-card class="card">
      <mat-card-title>Recomendaciones</mat-card-title>
      <mat-card-content>
      <div *ngFor="let element of Recommendation.content">
        <mat-card-header class="tocell">
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card>
          Equipo: {{element.name}}
        </mat-card>
        </mat-card-header>
         
      </div>
    
    
      </mat-card-content>
    
    </mat-card>

  </div>




</div>


